#avatar {
  width:100px;
}

#userInfo {
  min-width: 140px;
  /*float:left;*/
  padding: 1%;
  border-radius:2px;
}
#underHeader {
  border-bottom:solid #E8E8E8 3px;
  width:100%;
  height: 225px;
}

#singleRepo {
  /*display:block;*/
  border-bottom:solid 1px;
  padding 2px;
}

#repoList a{
  text-decoration: none;
  font-size: 2em;
  color: #565656;
}

#repoList p{
  border-bottom:solid #eee 1px;
}

#repoList {
  margin-top:25px;
}

header a {
  text-decoration: none;
  color:#333;
}

header a:hover {
  color:#333;
}
header {
  padding-top:30px;
  padding-right:50px;
  border-bottom:solid #E6E6E6 3px;
  background:#EDEDED;
}

body {
  background:#fff
  width:100%;
  margin:0%;
}


/*main{
  margin-left:15%;
  margin-right:15%;

  background-color: light-grey;
}*/

header h1 {
  margin-left:15%;
}
