<!DOCTYPE html>
<html data-ng-app="app">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/skeleton.css">
  </head>
  <body class="twelve columns" ng-controller="TabController as tabCtrl">

      <section ng-init="githubCtrl.getUser()" data-ng-controller="GithubController as githubCtrl">
        <header>
          <h1><a href='' ng-click="tabCtrl.setTab('repos'); tabCtrl.setSubTab('branches'); githubCtrl.currentBranch = null">GutHub</a></h1>
          <form id="searchButton">
            <input type="text" ng-model="githubCtrl.search" value="">
            <button ng-click="githubCtrl.findUser(githubCtrl.search); tabCtrl.setTab('search')">Search</button>
          </form>
        </header>
        <main class="offset-by-two eight columns">
        <div class="twelve columns" id="underHeader" ng-show="tabCtrl.activeTab('repos')">
          <section id='userInfo' class="twelve columns" ng-show="githubCtrl.userData">
            <img id="avatar" ng-src={{githubCtrl.userData.avatar_url}}/>
            <div id="info">
              <h3>{{githubCtrl.userData.login}}</h3>
              <p>Followers: {{githubCtrl.userData.followers}}
                Following: {{githubCtrl.userData.following}}
                Starred: {{githubCtrl.starred.length}}</p>
            </div>
            </section>
        </div>
        <section id="searchResults" ng-show="tabCtrl.activeTab('search')">
          <p ng-repeat="result in githubCtrl.searchResults">
            <a href='' ng-click="githubCtrl.getRepos(result.repos_url); tabCtrl.setTab('repos')">{{result.login}}
          </p>
        </section>
        <section id="repoList" ng-init="githubCtrl.getRepos()" ng-show="tabCtrl.activeTab('repos')">
            <p ng-repeat="repo in githubCtrl.repoData">
              <a href='' ng-click="githubCtrl.getRepo(repo.url); githubCtrl.getBranches(repo.branches_url); tabCtrl.setTab('singleRepo')">
                {{repo.full_name | uppercase}}
              </a>
            </p>
        </section>

        <section id="singleRepo" ng-show="tabCtrl.activeTab('singleRepo')">
          <h5>
            /<a href='' ng-click="tabCtrl.setTab('repos'); this.setSubTab('branches'); githubCtrl.branchContents=null">{{githubCtrl.userData.login}}</a>
            /<a href='' ng-click="tabCtrl.setSubTab('branches'); githubCtrl.branchContents=null">{{githubCtrl.oneRepoData.name}}</a>
            /<a href='' ng-show="!tabCtrl.activeSubTab('branches')" ng-click="tabCtrl.setSubTab('branchContents'); githubCtrl.branchPaths=[];">{{githubCtrl.currentBranch}}</a>
            <p ng-repeat="path in githubCtrl.branchPaths">/
              <a href='' ng-show="tabCtrl.activeSubTab('files')" ng-click="githubCtrl.array = true; githubCtrl.what()">
                {{path}} <!--**add a tab feature to show only selected tab/contents if clicked / refactor tabctrl to take two arguments instead of having multiple tab set fucntions-->
              </a>
            </p>
          </h5>

          <section ng-show="tabCtrl.activeSubTab('branches')">
            Branches:
            <p ng-repeat="branch in githubCtrl.branches">
              <a href='' ng-click="githubCtrl.getBranchContents(branch); tabCtrl.setSubTab('branchContents')">
                {{branch.name}}
              </a>
            </p>
          </section>
          <p ng-repeat="content in githubCtrl.branchContents.tree" ng-show="tabCtrl.activeSubTab('branchContents')">
            <a href='' ng-click="githubCtrl.getContents(content); tabCtrl.setSubTab('files')" >
              {{content.path}}
            </a>
          </p>
          <section ng-show="tabCtrl.activeSubTab('files')">
            <p ng-repeat="file in githubCtrl.displayBranchFolders" ng-show="githubCtrl.array">
              <a href='' ng-click="githubCtrl.getContents(file)">
                {{file.path}}
              </a>
            </p>
            <p><pre><code ng-show="!githubCtrl.array" id="codeDisplay">{{githubCtrl.displayBranchFiles}}</code></pre></p>
          </section>
        </section>
      </section>
    </main>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./controller/controller.js"></script>
  </body>
</html>
